{% extends 'layouts/base.html.twig' %}

{% block title %}Modifier un module{% endblock %}

{% block body %}
    <a href="{{ path('app_module_index') }}" title="revenir à la liste"><span class="symbol">&#8592;</span></a>
    <div class="container-fluid d-flex justify-content-center mt-5 rounded-3 border-primary data-display-box p-5 data-form">
        <h1>Modifier un module</h1>
        <div class="container d-flex justify-content-center">
            {{ include('module/_form.html.twig', {'button_label': 'Modifier'}) }}
        </div>
        <div class="form-group text-center mt-3">
            {{ include('module/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
